{% extends 'base.html' %}

{% block title %}
about this site
{% endblock %}


{% block body %}
<h1>About this site:</h1>
<p class="back-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo ullamcorper diam id consectetur. Phasellus libero risus, vehicula sed sapien eu, viverra egestas felis. In accumsan convallis dolor scelerisque facilisis. Etiam eget sem nisi. Mauris felis metus, pellentesque quis libero eget, maximus mattis lacus. Vivamus ut tellus libero. Praesent quam lectus, semper sit amet tempor non, dapibus vel magna. Pellentesque arcu lacus, sodales et blandit vel, interdum dignissim purus. Donec non magna faucibus nulla pretium lacinia. Nunc est ante, ultricies id consectetur id, congue mattis purus. Cras pharetra nunc nec urna elementum gravida. Aenean vestibulum, ante ut hendrerit vehicula, ante ex egestas nulla, ac vulputate sem lorem tristique neque. Curabitur sit amet accumsan nisi. Curabitur sit amet ex enim.

Morbi sagittis ipsum lacus, sed semper metus pellentesque non. Phasellus eget hendrerit urna. Vivamus eros tellus, aliquet quis nunc tempor, venenatis rutrum urna. Duis eget velit metus. Vivamus elementum augue sed imperdiet imperdiet. Morbi ac erat pulvinar, elementum diam ut, fermentum ipsum. Maecenas faucibus facilisis urna ac congue. Sed dictum aliquam rhoncus. Fusce ut nunc a metus venenatis feugiat eu quis sapien. Ut pharetra convallis magna, eget fringilla nibh rutrum at. Donec venenatis metus sed mauris blandit, id faucibus nisi vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi pulvinar congue neque, sed semper massa mattis nec.

Mauris posuere mattis leo, id porttitor odio fermentum vel. In quis nunc sed ante cursus convallis. Quisque augue est, tincidunt posuere rhoncus non, lobortis sed nunc. Maecenas ornare magna non eros mollis, a vestibulum nulla dapibus. Ut id erat urna. Vivamus a neque in nisi lacinia posuere id at eros. Vestibulum maximus consectetur turpis, in rutrum libero convallis id.

Cras posuere felis sit amet nibh molestie, in aliquam ex vestibulum. Nunc condimentum neque id elit vulputate, a luctus mauris mattis. Sed tristique condimentum elit eu ultrices. Quisque ullamcorper tincidunt orci quis feugiat. Duis nec nulla sit amet eros pellentesque elementum eu sed augue. Vivamus mollis odio eu lobortis volutpat. Quisque sed feugiat sapien.

Sed faucibus eros eu lacus fringilla convallis. Nulla facilisi. Nunc consectetur tempus lectus. Aenean mollis nec ex non efficitur. Etiam viverra, lectus vitae porta scelerisque, ante ex ullamcorper enim, sit amet facilisis nibh mauris vestibulum leo. Ut iaculis at nisl ut tristique. Etiam eu leo eu tellus dignissim egestas. Suspendisse sit amet metus tristique, elementum ex venenatis, hendrerit velit. Nulla turpis lectus, varius ac iaculis sit amet, iaculis a lectus. Morbi nisi massa, pharetra id pharetra viverra, tempor tincidunt arcu. Proin vestibulum mi nec dignissim mollis. Mauris non purus mattis, elementum justo eu, tincidunt velit. Sed pharetra consequat arcu, nec suscipit sem elementum id.
</p>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-info">Info1</button>
<button type="button" class="btn btn-info">Info2</button>
<button type="button" class="btn btn-warning">Info3</button>


{% endblock %}